/* проверить скролл на мылых разрешениях. (ширина) */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid #545454B3;
  box-sizing: border-box;

}
@media screen and (max-width: 614px) {
  .header{
    max-width: 400px;
    min-height: 56px;

  }
}
@media screen and (min-width: 615px) and (max-width: 914px) {
  .header {
    max-width: 581px;
  }
}
